.neon-button-red {
  border: 3px solid #e96060 !important;
  box-shadow: inset 0px 0px 20px 0px #d61c1c, 0px 0px 20px 0px #d61c1c !important;
}

.neon-button-blue {
  border: 3px solid #3c58d3 !important;
  box-shadow: inset 0px 0px 20px 3px #1b019b, 0px 0px 20px 3px #1b019b !important;
}

.neon-button-green {
  border: 3px solid #82e492 !important;
  box-shadow: inset 0px 0px 20px 0px #32c44a, 0px 0px 20px 0px #32c44a !important;
}

.neon-button-yellow {
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 20px 0px #b8a435, 0px 0px 20px 0px #b8a435 !important;
}

.neon-button-orange {
  border: 3px solid #ffa768 !important;
  box-shadow: inset 0px 0px 20px 0px #fc6500, 0px 0px 20px 0px #fc6500 !important;
}

.neon-button-pink {
  border: 3px solid #ee8be9 !important;
  box-shadow: inset 0px 0px 20px 0px #e232d9, 0px 0px 20px 0px #e232d9 !important;
}

.neon-button-white {
  border: 3px solid #ece3e3 !important;
  box-shadow: inset 0px 0px 15px 0px #dfdfdf, 0px 0px 15px 0px #dfdfdf !important;
}

.neon-button-light-blue {
  border: 3px solid #a5fafa !important;
  box-shadow: inset 0px 0px 16px 0px #0affff, 0px 0px 16px 0px #0affff !important;
}