.bubble {
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  color: #000; /* bubble text color */
}
  
.bubble:after {
  border-radius: 200px / 5px;
  content: '';
  display: block;
  position: absolute;
}

.bubble_white:after {
  border: 8px solid transparent !important;
  border-bottom-color: #ffc79c !important; /* arrow color */
}

.bubble_blue:after {
  border: 3px solid #a5fafa !important;
  box-shadow: inset 0px 0px 110px 0px #0affff, 0px 0px 40px 0px #0affff !important;
  border-radius: 15px !important;
  background-color: #181818 !important;

  /* border: 8px solid transparent !important; */
  /* border-bottom-color: #1982FC !important; arrow color */
}


.bubble_left {
  border: 3px solid #ffc79c !important;
  box-shadow: inset 0px 0px 110px 0px #f27719 !important;
  border-radius: 15px !important;
  background-color: #181818 !important;
  float: left;
}

.bubble_left:after {
  border: 8px solid transparent !important;
  border-bottom-color: #ffc79c !important; /* arrow color */
  bottom: -2px!important;
  left: -9px !important;
}


.bubble_left-game {
  border: 3px solid #f0a66d !important;
  box-shadow: inset 0px 0px 110px 0px #7c7b79 !important;
  border-radius: 15px !important;
  background-color: #181818 !important;
  float: left;
}

.bubble_left-game:after {
  border: 8px solid transparent !important;
  border-bottom-color: #f0a66d !important; /* arrow color */
  bottom: -2px!important;
  left: -9px !important;
}


.bubble_left-game-win {
  border: 3px solid #32c44a !important;
  box-shadow: inset 0px 0px 110px 0px #7c7b79 !important;
  border-radius: 15px !important;
  background-color: #181818 !important;
  float: left;
}

.bubble_left-game-win:after {
  border: 8px solid transparent !important;
  border-bottom-color: #32c44a !important; /* arrow color */
  bottom: -2px!important;
  left: -9px !important;
}



.bubble_left-game-lose {
  border: 3px solid #d61c1c !important;
  box-shadow: inset 0px 0px 110px 0px #7c7b79 !important;
  border-radius: 15px !important;
  background-color: #181818 !important;
  float: left;
}

.bubble_left-game-lose:after {
  border: 8px solid transparent !important;
  border-bottom-color: #d61c1c !important; /* arrow color */
  bottom: -2px!important;
  left: -9px !important;
}


.bubble_right {
    border: 3px solid #a5fafa !important;
  box-shadow: inset 0px 0px 110px 0px #0affff!important;
  border-radius: 15px !important;
  background-color: #181818 !important;
  float: right;
}

.bubble_right:after {
  right: -12px !important;
  border: 10px solid transparent !important;
  border-bottom-color: #a5fafa !important; /* arrow color */
  bottom: -2px !important;
}


.bubble_right-game {
  border: 3px solid #5af1f1 !important;
box-shadow: inset 0px 0px 110px 0px #7c7b79!important;
border-radius: 15px !important;
background-color: #181818 !important;
float: right;
}

.bubble_right-game:after {
right: -12px !important;
border: 10px solid transparent !important;
border-bottom-color: #5af1f1 !important; /* arrow color */
bottom: -2px !important;
}


.bubble_right-game-win {
  border: 3px solid #32c44a !important;
box-shadow: inset 0px 0px 110px 0px #7c7b79!important;
border-radius: 15px !important;
background-color: #181818 !important;
float: right;
}

.bubble_right-game-win:after {
right: -12px !important;
border: 10px solid transparent !important;
border-bottom-color: #32c44a !important; /* arrow color */
bottom: -2px !important;
}


.bubble_right-game-win {
  border: 3px solid #32c44a !important;
box-shadow: inset 0px 0px 110px 0px #7c7b79!important;
border-radius: 15px !important;
background-color: #181818 !important;
float: right;
}

.bubble_right-game-win:after {
right: -12px !important;
border: 10px solid transparent !important;
border-bottom-color: #32c44a !important; /* arrow color */
bottom: -2px !important;
}


.bubble_right-game-lose {
  border: 3px solid #d61c1c !important;
box-shadow: inset 0px 0px 110px 0px #7c7b79!important;
border-radius: 15px !important;
background-color: #181818 !important;
float: right;
}

.bubble_right-game-lose:after {
right: -12px !important;
border: 10px solid transparent !important;
border-bottom-color: #d61c1c !important; /* arrow color */
bottom: -2px !important;
}


.bubble_server {
  border: 3px solid #c2c0be !important;
  box-shadow: inset 0px 0px 110px 0px #7c7b79 !important;
  border-radius: 15px !important;
  background-color: #181818 !important;
}