.main_title_test{
  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  color: #e6ffff;
  margin-bottom: 8%;
}

.background_effect{
  z-index: 2;
}

.foreground_element{
  z-index: 6;
}

.custom-input-color >>> .v-text-field__slot input {
  color: #e6ffff
}

.custom-placeholder-color >>> .v-text-field__slot ::placeholder {
  color: #e6ffff
}

.text-field-nick-neon {
  color: #b8a435;
 /* text-shadow:
    0 0 7px #69acb8,
    0 0 10px #49A2B2,
    0 0 21px #49A2B2,
    0 0 31px #225560,;*/
  min-width: 250px;
  width: 340px;
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 18px 0px #b8a435, 0px 0px 18px 0px #b8a435 !important;
}

.dialog_card {
  background-color: #252525 !important;
}