.neonText-gold {
  color: #fff9d7;
  text-shadow:
      0 0 7px #FFD700,
      0 0 8px #FFD700,
      0 0 9px #FFD700 !important;
}

.neonText-purple {
  color: #fff9d7;
  text-shadow:
      0 0 7px #cd78ff,
      0 0 8px #cd78ff,
      0 0 9px #cd78ff !important;
}

.neonText-silver {
  color: #fafafa;
  text-shadow:
      0 0 7px #C0C0C0,
      0 0 8px #C0C0C0,
      0 0 9px #C0C0C0 !important;
}

.neonText-bronze {
  color: #ffeddb;
  text-shadow:
      0 0 7px #CD7F32,
      0 0 8px #CD7F32,
      0 0 9px #CD7F32 !important;
}

.neonText {
  color: #e6ffff;
  text-shadow:
      0 0 7px #f27719,
      0 0 8px #f27719,
      0 0 9px #f27719 !important;
}

.neonText-light-blue {
  color: #e6ffff;
  text-shadow:
      0 0 6px #0affff,
      0 0 7px #0affff  !important;
}

.neonTextYellow {
  color: #e6ffff;
  text-shadow:
      0 0 7px #b8a435,
      0 0 8px #b8a435,
      0 0 9px #b8a435 !important;
}

.neonText-red {
  color: #ffe6e6;
  text-shadow:
      0 0 7px #f24419,
      0 0 8px #f24419,
      0 0 9px #f24419 !important;
}
