.profile-picture-red {
  border: 2px solid #b33b3b !important;
  box-shadow: 0px 0px 10px 2px #aa0909 !important;
  border-radius: 100%
}

.profile-picture-blue {
  border: 2px solid #3c58d3 !important;
  box-shadow: 0px 0px 15px 3px #1b019b !important;
  border-radius: 100%
}

.profile-picture-green {
  border: 2px solid #82e492 !important;
  box-shadow: 0px 0px 10px 1px #32c44a !important;
  border-radius: 100%
}

.profile-picture-yellow {
  border: 2px solid #fff3b2 !important;
  box-shadow: 0px 0px 10px 2px #b8a435 !important;
  border-radius: 100%
}

.profile-picture-orange {
  border: 2px solid #ffa768 !important;
  box-shadow: 0px 0px 10px 1px #fc6500 !important;
  border-radius: 100%
}

.profile-picture-pink {
  border: 2px solid #ee8be9 !important;
  box-shadow: 0px 0px 10px 2px #e232d9 !important;
  border-radius: 100%
}

.profile-picture-white {
  border: 2px solid #ece3e3 !important;
  box-shadow: 0px 0px 10px 1px #dfdfdf !important;
  border-radius: 100%
}

.profile-picture-light-blue {
	border-radius:100% !important;
	border: 3px solid #a5fafa !important;
	box-shadow: 0px 0px 13px 0px #0affff !important;
}

.profile-picture-cyan {
	border-radius:100% !important;
	border: 3px solid #a5fafa !important;
	box-shadow: 0px 0px 13px 0px #0affff !important;
}

.profile-picture-purple {
	border-radius:100% !important;
	border: 3px solid purple !important;
	box-shadow: 0px 0px 13px 0px rebeccapurple !important;
}
