.custom-select-color-yellow {
  color: #b8a435 !important;
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 20px 0px #b8a435, 0px 0px 20px 0px #b8a435 !important;
}

.custom-select-color-yellow {
  color: #b8a435 !important;
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 20px 0px #b8a435, 0px 0px 20px 0px #b8a435 !important;
}

.custom-select-color-yellow {
  color: #b8a435 !important;
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 20px 0px #b8a435, 0px 0px 20px 0px #b8a435 !important;
}

.custom-select-color-yellow {
  color: #b8a435 !important;
  border: 3px solid #fff3b2 !important;
  box-shadow: inset 0px 0px 20px 0px #b8a435, 0px 0px 20px 0px #b8a435 !important;
}

.custom-select-color-red {
  color: #d14949 !important;
  border: 3px solid #d14949 !important;
  box-shadow: inset 0px 0px 20px 0px #d61c1c, 0px 0px 20px 0px #d61c1c !important;
}

.custom-select-color-blue {
  color: #1b019b !important;
  border: 3px solid #3c58d3 !important;
  box-shadow: inset 0px 0px 20px 0px #1b019b, 0px 0px 20px 0px #1b019b !important;
}

.custom-select-color-green {
  color: #32c44a !important;
  border: 3px solid #82e492 !important;
  box-shadow: inset 0px 0px 20px 0px #32c44a, 0px 0px 20px 0px #32c44a !important;
}

.custom-select-color-orange {
  color: #fc6500 !important;
  border: 3px solid #ffa768 !important;
  box-shadow: inset 0px 0px 20px 0px #fc6500, 0px 0px 20px 0px #fc6500 !important;
}

.custom-select-color-pink {
  color: #e232d9 !important;
  border: 3px solid #ee8be9 !important;
  box-shadow: inset 0px 0px 20px 0px #e232d9, 0px 0px 20px 0px #e232d9 !important;
}

.custom-select-color-white {
  color: #dfdfdf !important;
  border: 3px solid #ece3e3 !important;
  box-shadow: inset 0px 0px 20px 0px #dfdfdf, 0px 0px 20px 0px #dfdfdf !important;
}

.custom-select-color-light-blue {
  color: #0affff !important;
  border: 3px solid #a5fafa !important;
  box-shadow: inset 0px 0px 20px 0px #0affff, 0px 0px 20px 0px #0affff !important;
}