.main_title_test{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    color: black;
    margin-bottom: 150px;
}

.background_effect{
    z-index: 2;
}

.foreground_element{
    z-index: 6;
}
